{
  "parser": "babel-eslint",
  "extends": [
    "react-app",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/no-did-mount-set-state": 0,
    "react/sort-comp": 1,
    "no-plusplus": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
